<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thanks page kyuenkun</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .top{
            margin-top: 8%;
        }
    </style>
</head>
<body>
    <div class="top">
        <p>ご回答ありがとうございました</p>
        <p>担当からメールアドレス宛にご連絡させていただくことがございます</p>
    </div>
    <div>
        <p>
            合同会社火災防災研究所<br>
            中村恭悟（nakamura kyogo）<br>
            mail： nakamura.k.mark@gmail.com<br>
      </p>
    </div>
</body>
</html>